body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f6; /* Un fundal foarte fin, gri-albastrui */
  display: flex;
  justify-content: center; /* Centrează pe orizontală */
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}